<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="btkamr">


<xacro:property name="chasis_len_x" value="0.6"/>
<xacro:property name="chasis_len_y" value="0.4"/>
<xacro:property name="chasis_len_z" value="0.2"/>
<xacro:property name="base_chasis_offset" value="0.08"/>
<xacro:property name="chasis_mass" value="2.0"/>

<xacro:include filename="../common.xacro"/>
<xacro:include filename="./wheels.urdf.xacro"/>



<link name="base_link"/>

<joint name="base_TO_chasis" type="fixed">
    <origin xyz="0.0 0.0 ${base_chasis_offset}" rpy="0.0 0.0 0.0"/>
    <parent link="base_link"/>
    <child link="chasis"/>
</joint>

<xacro:create_box_link 
    name="chasis"
    oxyz="0.0 0.0 0.0"
    orpy="0.0 0.0 0.0"
    lenx="${chasis_len_x}"
    leny="${chasis_len_y}"
    lenz="${chasis_len_z}"
    mass="${chasis_mass}"
    material="green"
/>

<link name="base_footprint"/>

<joint name="base_TO_footprint" type="fixed">
    <origin xyz="0.0 0.0 ${wh_radius}" rpy="0.0 0.0 0.0"/>
    <parent link="base_footprint"/>
    <child link="base_link"/>
</joint>


</robot>
